.heading {
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: rgb(255, 33, 33);
    text-align: center;
}

body {
    background-image: url(https://img.dailythanthi.com/Articles/2020/Feb/202002091119082559_Thiruvalluvar-and-science-_SECVPF.gif);
    background-repeat: repeat;
    background-attachment: fixed;
    object-fit: fill;
    background-size: 100% 100%;
}

.card {
    width: 100%;
    text-align: center;
}